/*
code mark {
    background-color: darkgreen;
}
*/

.overflow {
    overflow: auto;
    width: 120%; /* Takes up the whole width of the slide */
}

.browser-table  {
    /*border: 3px solid white;*/
    border: 0px;
    border-bottom: 0px;
}

.browser-table td {
    /*border: 3px solid purple;*/
    border: 0px;
    border-bottom: 0px !important;
}

.reveal .slides section .fragment.mark-current-red,
.reveal .slides section .fragment.mark-current-green,
.reveal .slides section .fragment.mark-current-blue {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.mark-current-red.current-fragment {
  background-color: #ff2c2d; }

.reveal .slides section .fragment.mark-current-green.current-fragment {
  color: white !important;
  /*background-color: #17ff2e;*/
  background-color: #075020; }

.reveal .slides section .fragment.mark-current-blue.current-fragment {
  color: white !important;
  /*background-color: #1b91ff;*/
  background-color: #104170; }
